<header>
    <div id="overlay">
        <ul class="text-center list-none text-white text-3xl">
            {{ range .Site.Menus.main }}
            <li class="p-2">
                <a href="{{ urls.RelLangURL .URL | safeURL }}">
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{ end }}
            <!-- language switcher part -->
            <div class="text-lg">
                <ul>
                    {{ range .Site.Languages }}
                    {{ if eq . $.Site.Language }}
                    <li><span aria-label="{{ i18n "ariaLanguage" }}{{ .LanguageName }}">{{ .LanguageName }}</span>
                        {{ end }}
                        {{ end }}
                        <ul aria-labelledby="dropdown-title">
                        {{ range $.Translations }}
                        <li><a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}" aria-label="{{ i18n "ariaTranslation" }}{{ .Language.LanguageName }}">{{ .Language.LanguageName }}</a></li>
                        </ul>
                        {{ end }}
                    </li>
                </ul>
            </div>
            <!-- end language switcher part -->
        </ul>
    </div>
    <nav class="flex items-center justify-between flex-wrap bg-opacity-100 p-8">
        <div class="flex items-center flex-shrink-0 text-xl text-grey-900 mr-6">
            <a href="{{ .Site.BaseURL }}"><img alt="{{ .Site.Params.logo.alt }}"
                    class="{{ .Site.Params.logo.size }} mr-3" src="{{ .Site.Params.logo.main | relURL }}"></a>
        </div>
        <div class="block lg:hidden">
            <div id="hamburgerbtn" class="flex cursor-pointer items-center w-14 h-10 py-2 rounded mopen">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
        </div>
        <div class="hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto" id="mobileMenu">
            <div class="text-lg lg:flex-grow">
            </div>
            <div class="text-lg">
                {{ range .Site.Menus.main }}
                <a href="{{ urls.RelLangURL .URL | safeURL }}"
                    class="duration-200 block mt-4 lg:inline-block lg:mt-0 text-black hover:opacity-60 mr-8">
                    {{ .Name }}
                </a>
                {{ end }}
            </div>
            <!-- language switcher part -->
            <div class="text-lg">
                <ul>
                    {{ range .Site.Languages }}
                    {{ if eq . $.Site.Language }}
                    <li><span aria-label="{{ i18n "ariaLanguage" }}{{ .LanguageName }}">{{ .LanguageName }}</span>
                      {{ end }}
                      {{ end }}
                      <ul aria-labelledby="dropdown-title">
                        {{ range $.Translations }}
                        <li><a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}" aria-label="{{ i18n "ariaTranslation" }}{{ .Language.LanguageName }}">{{ .Language.LanguageName }}</a></li>
                      </ul>
                        {{ end }}
                    </li>
                  </ul>
            </div>
            <!-- end language switcher part -->
        </div>
    </nav>
</header>